/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url(metrofontpack.css);

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.menu-container {
  position: relative;
  display: inline-block;
  /* Ensures the menu button and menu stay inline */
}

.menu-button {
  background-color: #f54f36;
  color: white;
  border: none;
  padding: 0.6vw 1.2vw;
  font-size: 1.2vw;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #45a049;
}

#menu {
  display: none;
  position: absolute;
  top: 100%;
  /* Places the menu directly below the button */
  left: 0;
  /* Aligns the menu with the left edge of the button */
  min-width: 160px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#menu.active {
  display: block;
}

#menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#menu ul li a {
  text-decoration: none;
  color: #333;
}

#menu ul li a:hover {
  color: #ed4c0d;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 800 !important;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

h1 {
  color: #ffffff;
  /* font-weight: 800 !important; */
  font-size: 4.5vw !important;
  padding-bottom: 5px;
  color: #373432;
  line-height: 1em;
  font-weight: bold;
}

h2 {
  color: #2c3d4f !important;
  letter-spacing: 5px;
  line-height: 2vw !important;
  font-size: 2.9vw !important;
}

h3 {
  font-size: 1.6vw !important;
}

h4 {
  text-transform: uppercase;
  color: #70777d !important;
  font-weight: bold !important;
  font-size: 1.3vw !important;
  margin: 0 !important;
}

header {
  background-image: url(public/developer.jpg);
  height: 99vh;
  color: whitesmoke;
  background-attachment: fixed !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.fullh {
  height: -webkit-fill-available;
}

.padd {
  padding: 4.5vw !important;
  padding-top: 2.5rem !important;
}

.about {
  padding-left: 8vw !important;
  padding-right: 8vw !important;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5rem;
}

.grayy {
  backdrop-filter: contrast(0.6) brightness(0.5);
}

.logo {
  padding: 1.5rem;

  .img-responsive {
    width: 12%;
  }
}

.avatar-holder {
  position: relative;
  margin: auto;
  bottom: 20%;
  right: 0;
  left: 0;
  width: 23vw;
  /* height: 100px; */
  border-radius: 50%;
  /* box-shadow: 0 0 0 5px #151515, inset 0 0 0 5px #000000,
    inset 0 0 0 5px #000000, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000; */
  background: white;
  overflow: hidden;
  animation: mvTop 1.5s;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0.5vw solid #f3ecec;
    border-radius: 50%;
  }
}

/********************************************************ABOUT ME SECTION**********************************************************/

section {
  padding-top: 14vw;
  /* margin-top: 12vw; */

  .border {
    display: block;
    background-color: #2c3d4f !important;
    margin: 4vw auto;
    width: 6vw;
    height: 0.3vw !important;
  }
}

p {
  margin-bottom: 0% !important;
}

.para {
  text-align: left;
  padding-bottom: 1.5vw;
}

.first {
  font-weight: bold;
  color: #7e878f;
  padding: 5px;
  font-size: 1.1vw;
}

.second {
  color: #7e868e;
  padding: 5px;
  font-size: 1vw;
}

.info {
  display: flex;
  margin-bottom: 0px !important;
  align-items: flex-start;
  justify-content: flex-start;
}

a.mt-button {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  letter-spacing: 0;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 17vw;
}

.btn {
  background-color: #f54f36 !important;
}

.btn {
  background-image: none;
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: none;
  color: #ffffff !important;
  text-shadow: none;
  font-weight: bold !important;
}

.large {
  font-size: 1vw !important;
  line-height: 1.4vw !important;
  padding: 1vw 1.8vw !important;
}

.fa-brands:hover {
  color: #f54f36;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.3vw;
  padding: 2vw;

  .circleBase:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

  .circle:hover {
    transform: scale(1.08);

    .second,
    i {
      color: whitesmoke !important;
    }

    background: #f54f36;
  }
}

.circleBase {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  transition: transform 0.5s;
}

.circle {
  width: 7.8vw;
  height: 7.8vw;
  background: #e9e9e9;

  /* border: 1px solid #000; */
  i {
    height: 2.6vw;
    font-size: 2.2vw;
    color: #8b8b91;
  }
}

.scircle {
  width: 5.5vw;
  height: 5.5vw;
  background: #ffffff;

  /* border: 1px solid #000; */
  i {
    /* height: 2.6rem; */
    font-size: 2.5vw;
    color: #f54f36;
  }
}

.ifont {
  i {
    padding: 0.2rem;
    font-size: 1.5vw;
  }
}

.about2 {
  display: flex;
  gap: 3vw;
}

/********************************************************MILESTONE SECTION**********************************************************/

.milestone {
  color: whitesmoke;
  background-image: url(public/milestones.jpg);
  background-attachment: fixed !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.mileflex {
  padding-top: 4vw !important;
  display: flex;
  gap: 2vw;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.mileicon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7vw;
}

.up,
.ups {
  font-size: 1.2vw;
  text-align: center;
  font-weight: 800 !important;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  padding-top: 1.2vw;
}

.low {
  font-size: 1vw;
  font-weight: 500 !important;
}

/********************************************************SERVICES SECTION**********************************************************/

.services,
.clients,
.contact {
  padding-top: 1.5rem;
}

.serviceflex {
  display: flex;
  gap: 4vw;
}

.left {
  text-align: end;
  width: 50%;
}

.right {
  text-align: start;
  width: 50%;
}

.leftflex {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.gapping {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

/* .lefttext{
  display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
} */
.squarebase {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8%;
}

.square {
  width: 5.5vw;
  height: 5.5vw;
  background: #f54f36;

  /* border: 1px solid #000; */
  i {
    /* height: 2.6rem; */
    font-size: 2.1vw;
    color: white;
  }
}

/********************************************************WORK PROCESS SECTION**********************************************************/

.workprocess,
.quates {
  color: whitesmoke;
  background-image: url(public/work.jpg);
  background-attachment: fixed !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.workprocess {
  .square {
    width: 8.5vw;
    background: none;
    border: 2px solid;
  }

  .mileicon {
    gap: 0;
  }

  .ups {
    padding-top: 0%;
    padding-bottom: 1.2vw;
  }
}

.lines {
  display: flex;

  .ver {
    display: block;
    background-color: #eceff3 !important;
    /* margin: 10px auto; */
    width: 2vw;
    height: 2px !important;
  }

  .ver2 {
    display: block;
    background-color: #eceff3 !important;
    margin-top: 70%;
    width: 2vw;
    height: 2px !important;
  }

  .hor {
    display: block;
    background-color: #eceff3 !important;
    /* margin: 10px auto; */
    width: 2px;
    height: 3vw !important;
  }
}

/******************************************************** CLIENTS ********************************************************************/

.brands {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;
  padding-left: 0;
}

.brands__item {
  list-style: none;
}

.brands__item img {
  display: flex;
  width: 100%;
  height: 6.8vw;
  object-fit: cover;
  border-radius: 4%;
}

/******************************************************* QUATES SECTION *************************************************************/

.quates {
  background-image: url(public/quate.jpg);

  h3 {
    font-size: large !important;
    line-height: 2.2rem !important;
  }

  .border {
    display: block;
    background-color: #eceff3 !important;
    margin: 10px auto;
    width: 30px;
    height: 2px !important;
  }
}

/******************************************************* CONTACT SECTION *************************************************************/
.contactus {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 3vw;
}

.form {
  padding-top: 3rem;
}

.form input[type="text"],
textarea {
  color: #999999;
  font-size: 14px;
  text-transform: uppercase;
  height: 64px;
  padding: 26px 3%;
  background: none repeat scroll 0 0 #f2f2f2;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 49%;
  border: 0;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

textarea {
  color: #999999;
  font-size: 14px;
  text-transform: uppercase;
  height: 64px;
  padding: 26px 3%;
  background: none repeat scroll 0 0 #f2f2f2;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 100%;
  border: 0;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

/* #submit{
  padding-top: 2rem;
} */
.contdata {
  display: flex;
  justify-content: space-between;
}

.form input.btn[type="submit"] {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  /* margin-bottom: 100px; */
  outline: none;
  color: #ffffff;
  padding: 2vw;
}

.form textarea {
  height: 174px;
  resize: none;
  margin-bottom: 1rem;
}

footer {
  background: #f0f2f4;
}

.scales {
  transition: transform 0.3s;
}

.scales:hover {
  transform: scale(1.1);
}

.sign {
  height: 3vw;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  h1 {
    font-size: 8.2vw !important;
  }

  h2 {
    font-size: 5vw !important;
  }

  h3 {
    font-size: 4.8vw !important;
  }

  h4 {
    font-size: 4vw !important;
  }

  header {
    height: 50vh;

    .img-responsive {
      width: 21% !important;
    }

    .menu-button {
      font-size: 4vw;
    }
  }

  .ifont {
    i {
      font-size: 4vw;
    }
  }

  .avatar-holder {
    width: 30vw;
    bottom: 15vw;
  }

  .about {
    h2 {
      padding-bottom: 3vw;
    }

    h4 {
      padding: 2vw 0;
    }
  }

  .about2 {
    flex-direction: column-reverse;
    gap: 2vw;

    .grid-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 4.3vw;
      justify-items: center;
    }

    .circle {
      width: 22vw;
      height: 22vw;

      i {
        height: 9.6vw;
        font-size: 8vw;
      }
    }
  }

  .milestone {
    .mileicon {
      column-gap: 0;
      flex-wrap: wrap;
    }

    .circleBase {
      width: 50%;
    }

    .scircle {
      width: 16.5vw;
      height: 16.5vw;

      i {
        font-size: 8.5vw;
      }
    }

    .up {
      font-size: 4.5vw !important;
    }

    .low {
      font-size: 3.5vw !important;
    }

    .mileflex {
      padding-top: 10vw !important;
      padding-bottom: 10vw !important;
      gap: 5vw;
    }
  }

  .services {

    .left,
    .right {
      text-align: center;
    }

    .leftflex {
      flex-direction: column-reverse;
    }

    .rightflex {
      flex-direction: column;
    }

    .paddmobile {
      padding-top: 1.4rem;
    }

    .gapping {
      gap: 4.5vw;
    }

    .square {
      width: 12.5vw;
      height: 12.5vw;

      i {
        font-size: 6.5vw;
      }
    }
  }

  .workprocess {
    .hor {
      height: 3.6vw !important;
    }

    .square {
      width: 11.5vw;
      height: 8vw;

      i {
        font-size: 4.5vw !important;
      }
    }

    .mileflex {
      padding-top: 10vw !important;
      padding-bottom: 10vw !important;
      gap: 5vw;
    }
  }

  .up,
  .ups {
    font-size: 2.5vw;
  }

  .low {
    font-size: 3.5vw;
  }

  .sign {
    height: 8vw;
  }

  a.mt-button {
    width: 42vw;
    font-size: 3vw !important;
  }

  .first {
    font-size: 4vw;
  }

  .second {
    font-size: 4vw;
  }

  .clients {
    .border{
      margin-bottom: 6vw;
    }
    .brands {
      grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
    }
  }

  .brands__item img {
    height: 16vw;
  }

  .form input[type="text"],
  textarea {
    width: 100%;
    height: 11vw;
    padding: 2vw 3%;
  }

  .form textarea {
    height: 104px;
  }

  .quates {
    h3 {
      font-size: medium !important;
      line-height: 3.2vh !important;
    }
  }

  .contactus {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .leftflex {
      padding: 2vw 0;
      gap: 2vw;
      text-align: center;
      flex-direction: column;

      h4 {
        font-size: 4.5vw !important;
      }

      p {
        font-size: 4vw !important;
      }
    }

    .second {
      padding: 0%;
    }

    .square {
      width: 14.5vw;
      height: 14.5vw;

      i {
        font-size: 5.5vw !important;
      }
    }
  }

  .contdata {
    flex-direction: column;
  }
}